.header {
  background: #2c3e50;
  color: white;
  padding: 2rem 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    opacity: 0.8;
  }

  .right{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}